@font-face {
	font-family: hacked;
	src: url(/static/fonts/hacked.ttf) format("truetype");
}
@font-face {
	font-family: orbitron;
	src: url(/static/fonts/orbitron.ttf) format("truetype");
}

:root {
	scroll-behavior: smooth;

	--fonts-regular: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--fonts-default: 'Courier New', Courier, monospace;
	--fonts-hacked: hacked, var(--fonts-default);
	--fonts-orbitron: orbitron, var(--fonts-default);
	--color-redteam-red: #bd2b41;
	--color-blueteam-blue: #2f6fab;
	--color-cloud: #777777;
	--color-transparent-cloud: #777777C0;
	--color-asphalt: #222222;
	--color-transparent-asphalt: #222222F0;
}

html {
	font-family: var(--fonts-default);
	font-size: 16px;
	cursor: url(/static/images/cursor.png), default;
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
	box-sizing: inherit;
}

body {
	background-color: black;
	background-image: url(/static/images/wallpaper.jpg);
	background-position: top left;
	background-size: cover;
	text-align: center;
	word-wrap: break-word;
}

label {
	cursor: url(/static/images/cursor.png), default;
}
.hidden {
	display: none !important;
}
#options {
	position: absolute;
	top: 0;
	right: 0;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	padding: 1em 2em;
	font-size: 0.83em;
	text-align: left;
	background-color: #44444480;
	color: #BBBBBB;
}
#options-header {
	margin: 0;
	font-size: 1em;
	font-style: italic;
	text-align: center;
}
#options-close {
	margin: 0;
	text-align: right;
}
#options-x {
	color: red;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0.125em 0.25em;
}
#options-header:hover, #options-x:hover {
	cursor: url(/static/images/pointer.png), default;
}
#options fieldset {
	border: 1px solid var(--color-blueteam-blue);
	margin: 1em 0 1em 0;
	padding: 0 1em 1em;
}
#options legend {
	padding: 0 0.5em;
}
#options input:hover {
	cursor: url(/static/images/pointer.png), default;
}

#wrapper {
	margin-top: 1rem;
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/* box-shadow: 0 15px 20px 8px hsl(0, 0%, 17%); */
}

.title {
	font-family: var(--fonts-hacked);
	letter-spacing: 0.33em;
	color: red;
}
.subtitle {
	font-family: var(--fonts-orbitron);
	color: var(--color-cloud);
	font-size: 0.8em;
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	border-left: 2px solid var(--color-cloud);
}

a {
	cursor: url(/static/images/pointer.png), default;
	text-decoration: none;
	color: inherit;
}

nav {
	margin-bottom: 1rem;
	color: white;
	background-color: var(--color-transparent-asphalt);
	box-shadow: 0 12px 10px 0 rgba(0,0,0,.8); /* x y blur spread color */
	display: flex;
	flex-direction: vertical;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 10px 10px 0 0;
}

nav div {
	font-size: 1.5rem;
	font-style: bold;
	height: 100%;
	padding: 1rem 2rem;
}
nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	flex-grow: 1;
	justify-content: flex-end;
}
nav ul a {
	height: 60%;
	margin-right: 8px;
	transition: 0.3s;
}
nav ul a:hover {
	background-color: #77777780;
	color: red;
	border: 0 2px 0 2px solid black;
	font-size: 1.16em;
	font-weight: bold;
}
nav ul li {
	list-style: none inside none;
	padding: 1rem 2rem; /* vertical horizontal, top right bottom left */
}

main {
	background-color: #FFFFFFC0;
	padding: 3rem;
	border: 2px solid white;
	border-radius: 2px;
}

p {
	margin: 1em 0;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0.67em 0;
	font-family: var(--fonts-hacked);
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin: 1em 0;
}

h4 {
	font-weight: bold;
	margin: 1.33em 0;
}

h5 {
	font-size: .83em;
	font-weight: bold;
	margin: 1.67em 0;
}

h6 {
	font-size: .67em;
	font-weight: bold;
	margin: 2.33em 0;
}

#scoreboard {
	margin-left: auto;
	margin-right: auto;
}

.float {
	animation: float 4s ease-in-out infinite;
}
table {
	vertical-align: middle;
	border-collapse: collapse;
	border-style: hidden;
	font-size: 1rem;
}
thead, tbody, tr, th ,td {
	vertical-align: inherit;
}
th {
	font-family: var(--fonts-orbitron);
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.16em;
	text-align: center;
	animation: glow 2s ease-in-out infinite alternate;
	-webkit-animation: glow 2s ease-in-out infinite alternate;
	-moz-animation: glow 2s ease-in-out infinite alternate;
	background-color: var(--color-transparent-asphalt);
	padding: 1rem 1rem 0.25rem 1rem;
	border-radius: 16px 16px 0 0;
}
tbody {
	font-family: var(--fonts-orbitron);
}
/* Setting the background color styling on every other row */
tbody tr:nth-child(odd) td {
	background-color: var(--color-redteam-red);
}
tbody tr:nth-child(even) td {
	background-color: var(--color-blueteam-blue);
}
tbody tr:nth-child(odd) td:first-child {
	background-color: transparent;
	background-image: linear-gradient(to right, #77777700 0, var(--color-redteam-red) 33%);
}
tbody tr:nth-child(odd) td:last-child {
	background-color: transparent;
	background-image: linear-gradient(to left, #77777700 0, var(--color-redteam-red) 33%);
}
tbody tr:nth-child(even) td:first-child {
	background-color: transparent;
	background-image: linear-gradient(to right, #77777700 0, var(--color-blueteam-blue) 33%);
}
tbody tr:nth-child(even) td:last-child {
	background-color: transparent;
	background-image: linear-gradient(to left, #77777700 0, var(--color-blueteam-blue) 33%);
}
/* Special wiggle effect for the first-place team */
tbody tr:first-child td:first-child span {
	display: inline-block; /* "inline" elements like span can't transform */
	animation: wiggle 2s ease-in-out infinite;
}
.tableTeam {
	color: white;
	text-shadow: 2px 2px 2px var(--color-asphalt);
}
.tablePwnts {
	color: greenyellow;
}
.tablePwns {
	color: orange;
}
td {
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.5rem 1rem;
	text-align: left;
	border: 2px solid black;
}

.status {
	padding: 0.5rem;
	border: 2px solid black;
	border-radius: 8px;
	font-weight: bold;
	margin-bottom: 0.5rem;
	width: 100%;
}
.statusError {
	background-color: #ce444480;
}
.statusSuccess {
	background-color: #64ce4480;
}
.statusWait {
	background-color: orange;
}

#login-form {
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	border: 2px solid black;
	border-radius: 8px;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.formGroup {
	text-align: left;
	margin-bottom: 0.5rem;
	width: 100%;
}
.formGroup label {
	display: block;
	font-family: var(--fonts-orbitron);
	font-weight: bold;
	width: 100%;
}
.formGroup input {
	display: block;
	padding: 1rem;
	border: 1px solid var(--color-asphalt);
	width: 100%;
}
input[type="submit"] {
	font-family: var(--fonts-hacked);
	font-size: 1.5em;
	cursor: url(/static/images/pointer.png), default;
	width: 100%;
	border: 2px solid black;
	background-color: white;
	padding: 0.5rem 2rem;
	transition: 0.5s;
}
input[type="submit"]:hover {
	background-color: var(--color-transparent-asphalt);
	color: white;
}

.mainHeading {
	font-size: 2rem;
	font-family: var(--fonts-hacked)
}
#teamName {
	color: red;
}
#callbackSlider {
	-webkit-appearance: none;
	appearance: none;
	margin-top: 1rem;
	background: linear-gradient(to right, red 0%, white 50%);
	border: 1px solid black;
	height: 20px;
	padding: 0;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	cursor: url(/static/images/cursor.png), default;
}
#callbackSlider:hover {
	opacity: 0.9;
}
#callbackSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	width: 20px;
	height: 20px;
	background: black;
	cursor: url(/static/images/pointer.png), default !important;
}
#callbackSlider::-moz-range-thumb {
	border-radius: 0;
	width: 20px;
	height: 20px;
	background: black;
	cursor: url(/static/images/pointer.png), default !important;
}
#sliderOutput {
	font-size: 1.5rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
}
#callbackWeight {
	font-weight: bold;
	color: var(--color-redteam-red);
}


/* Keyframes, animations */
@keyframes float {
	0%   { transform: translate(0, 0);       }
	50%  { transform: translate(0, -0.5rem); }
	100% { transform: translate(0, 0);       }
}
@keyframes glow {
	0% {
		/*color: rgb(63, 151, 192);*/
		color: red;
		text-shadow: 0 0.125rem 10px var(--color-cloud);
	}
	100% {
		color: white;
		text-shadow: 0 0.5rem 20px rgb(255, 0, 191);
	}
}
@keyframes wiggle {
	0%   { transform: rotate(0);      }
	25%  { transform: rotate(3deg);  }
	50%  { transform: rotate(0);      }
	75%  { transform: rotate(-3deg); }
	100% { transform: rotate(0);      }
}


/* Media queries for mobile device scaling */
@media screen and (max-width: 1450px) {
	#options {
		top: initial;
		bottom: 0;
		border-bottom: none;
		border-top: 2px solid black;
	}
	#wrapper {
		width: 80%;
	}
}
@media screen and (max-width: 1100px) {
	nav {
		flex-direction: vertifcal;
	}
	nav div {
		text-align: center;
		width: 100%;
		font-size: 2rem;
	}
	nav ul {
		width: 100%;
		border-top: 1px solid red;
		justify-content: space-around;
	}
	nav ul a {
		border-left: none;
		margin: 0;
	}
	nav ul li {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 800px) {
	html {
		font-size: 14px;
	}
	#wrapper {
		width: 90%;
	}
	nav div {
		font-size: 3rem;
	}
	.title {
		display: inline-block;
	}
	.subtitle {
		display: block;
		font-size: 1.5rem;
		margin-left: 0;
		padding-left: 0;
		border-left: none;
	}
	nav ul a {
		width: 100%;
	}
	main {
		padding: 1rem;
	}
	table {
		font-size: 0.5rem !important;
		width: 100%;
	}
	td {
		font-size: 2em;
		padding: 1rem 1rem;
	}
}