				<script src="/static/js/scoreboard.js" type="text/javascript"></script>
				<audio id="introVoice" class="hidden" src="/static/audio/introduction.mp3" type="audio/mp3" preload="auto"></audio>
				<table id="scoreboard">
					<thead>
						<tr>
							<th><div class="float">Team</dib></th>
							<th><div class="float">Pwnts</div></th>
							<th><div class="float">Pwns</div></th>
						</tr>
					</thead>
					<tbody>
						{{ if .scoreboardData }}{{ range $teamName, $scoreInfo := .scoreboardData }}<tr>
							<td class="tableTeam"><span>{{ $teamName }}</span></td>
							<td class="tablePwnts">{{ .Pwnts }}</td>
							<td class="tablePwns">{{ .PwnedHosts }}</td>
						</tr>
						{{ end }}{{ else }}<tr>
							<td class="tableTeam"></td>
							<td class="tablePwnts">No data!</td>
							<td class="tablePwns"></td>
						</tr>{{ end }}
					</tbody>
				</table>