<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charSet="utf-8"/>
		<meta name="description" content="Pwnts - Watch in real time as your systems get pwned."/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
		<link rel="stylesheet" href="/static/styles/style.css"/>
		<title>{{ .title }} | Pwnts</title>
	</head>
	<body>
		<div id="wrapper">
			<nav>
				<div>
					<span class="red">Red Team Scoreboard</span>
				</div>
				<ul>
					<a href="/"><li>Scoreboard</li></a>
					<a href="/dashboard"><li>Red Team Dashboard</li></a>
				</ul>
			</nav>
			<main>
				<h1>Welcome to Pwnts</h1>
{{ .pageContent }}
			</main>
		</div>
	</body>
</html>